exclude-queries:
  - fd54f200-402c-4333-a5a4-36ef6709af2f # Missing User Instruction - CI runner image runs as root intentionally for CI/CD tasks
  - b03a748a-542d-44f4-bb86-9199ab4fd2d5 # Healthcheck Instruction Missing - not needed for CI/CD utility container
  - 02d9c71f-3ee8-4986-9c27-1a20d0d19bfc  # Unpinned Package Version in Pip Install - false positive, all pip packages are pinned
  - d3499f6d-1651-41bb-a9a7-de925fea487b  # Unpinned Package Version in Apk Add - false positive, all apk packages are pinned
  - 555ab8f9-2001-455e-a077-f2d0f41e2fb9  # Unpinned Actions Full Length Commit SHA - We use version tags for maintainability
